*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #434244;
   
}
/* --------------------------hearder section --------------------------------------*/
.menu-bar{
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(210, 241, 239);
    height: 10vh;
}
.menu-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px 0 10px;
}
.bar ul{
    list-style: none;
    display: flex;
    align-items: center;
    
}
.bar ul li a{
    text-decoration: none;
    font-size: 20px;
    
}
.bar ul li{
    margin-left: 40px;
    margin-top: 10px;    
}
.title p1{
    font-size: 40px;
}
/* --------------------------hearder section --------------------------------------*/

.container{
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}
.banner{
    display:flex;
    height: 80vh;
}
.banner-left{
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0 20px 0 40px;
}
.banner-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.text-content{
    max-width: 600px;
    /* font-size: 30px; */

}
.banner-text{
    font-size: 30px;
    margin-top: 20px;
}
.button-1{
    font-size: 30px;
    color: white;
    background: #E02C6D;
    padding: 5px 15px;
    margin-top: 50px;
    border-radius: 25px;
}
.banner-title{
    font-size: 50px;
    font-weight: bolder;
    white-space: nowrap;
    position: relative;
    color: transparent;
}

.banner-title::before{
    content:'Strat your journey as influencer';
    position: absolute;
    top: 0px;
    left: 0px;
    color: #201f1c;
    animation: typing 6s linear 3s infinite;
}
@keyframes typing {
        0%{
            content: 'S|';
        }
        2%{
            content: 'St|';
        }
        4%{
            content: 'Sta|';
        }
        6%{
            content: 'Stat|';
        }
        8%{
            content: '|';
        }
        10%{
            content: 'Stat y|';
        }
        12%{
            content: 'Stat yo|';
        }
        14%{
            content: 'Stat you|';
        }
        16%{
            content: 'Stat your|';
        }
        18%{
            content: '|';
        }
        20%{
            content: 'Stat your j|';
        }
        22%{
            content: 'Stat your jo|';
        }
        24%{
            content: 'Stat your jou|';
        }
        26%{
            content: 'Stat your jour|';
        }
        28%{
            content: 'Stat your journ|';
        }
        30%{
            content: 'Stat your journe|';
        }
        32%{
            content: 'Stat your journey|';
        }
        34%{
            content: '|';
        }
        36%{
            content: 'Stat your journey a|';
        }
        38%{
            content: 'Stat your journey as|';
        }
        40%{
            content: '|';
        }
        42%{
            content: 'Stat your journey as i|';
        }
        44%{
            content: 'Stat your journey as in|';
        }
        46%{
            content: 'Stat your journey as inf| ';
        }
        48%{
            content: 'Stat your journey as infu|';
        }
        50%{
            content: 'Stat your journey as infue|';
        }
        52%{
            content: 'Stat your journey as infuen|'; 
        }
        54%{
            content: 'Stat your journey as infuenc|'; 
        }
        56%{
            content: 'Stat your journey as infuence|'; 
        }
        58%{
            content: 'Stat your journey as infuencer|'; 
        }
        60%{
            content: 'Stat your journey as infuencer |'; 
        }
        61%,
        68%{
            content: 'Stat your journey as infuencer|'; 
        }
        69%{
            content: 'Stat your journey as infuence|'; 
        }
        70%{
            content: 'Stat your journey as infuenc|'; 
        }
        71%{
            content: 'Stat your journey as infuen|';
        }
        72%{
            content: 'Stat your journey as infue|'; 
        }
        73%{
            content: 'Stat your journey as infu|'; 
        }
        74%{
            content: 'Stat your journey as inf|'; 
        }
        75%{
            content: 'Stat your journey as in|'; 
        }
        76%{
            content: 'Stat your journey as i|'; 
        }
        77%{
            content: 'Stat your journey as |'; 
        }
        78%{
            content: 'Stat your journey as|'; 
        }
        79%{
            content: 'Stat your journey a|'; 
        }
        80%{
            content: 'Stat your journey |'; 
        }
        81%{
            content: 'Stat your journey|'; 
        }
        82%{
            content: 'Stat your journe|'; 
        }
        83%{
            content: 'Stat your journ|'; 
        }
        84%{
            content: 'Stat your jour|'; 
        }
        85%{
            content: 'Stat your jou|'; 
        }
        86%{
            content: 'Stat your jo|'; 
        }
        87%{
            content: 'Stat your |'; 
        }
        88%{
            content: 'Stat your|'; 
        }
        89%{
            content: 'Stat you|'; 
        }
        90%{
            content: 'Stat yo|'; 
        }
        91%{
            content: 'Stat y|'; 
        }
        92%{
            content: 'Stat |'; 
        }
        93%{
            content: 'Stat|'; 
        }
        94%{
            content: 'Sta|'; 
        }
        95%{
            content: 'St|'; 
        }
        96%{
            content: 'S|'; 
        }
        97%{
            content: '|'; 
        }
        98%{
            content: '|'; 
        }
        99%{
            content: '|'; 
        }
        100%{
            content: '|'; 
        }
    }
        /*-----------------------section-2--------------------------*/                               
 .section-3{
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
 }
 h2{
     text-align: center;
     font-size: 60px;
     font-weight: 700;
 }
 .prodects{
     display: grid;
     grid-template-columns: repeat(3, 318px);
     align-items: center;
     grid-column-gap: 40px;
     grid-row-gap: 40px;    
     margin: 30px 0px 0px 60px;       
 }
 .grid{
     /* background-color: thistle; */
     /* margin-left: 20px; */     
 }
.albam{
    border-radius: 15px;
    /* margin-bottom: 15px; */
    border: 2px solid wheat ;
    background-color: wheat ;
    padding: 8px;
    margin-bottom: 30px;    
}    
.see{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-right: 80px;
    margin-bottom: 50px;   
    border-radius: 25px;
    background-color: #E02C6D;
    
}
.fa-arrow-right{
    margin-left: 20px;
}
 /*-------------------------section-2---------------------------*/
/* <!-- ------------------------section-3 ---------------------------------------> */

.private-section{
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;

}
.end{
    display: flex;
    justify-content: center;
    align-items: center;
}
.personat-products{
    flex: 1;
    margin-left: 50px;
    margin-bottom: 40px;
}
.finish{
    flex: 1;
}
.but{
    background-color: #E02C6D;
    border-radius: 25px;
}
/*-------------------------------------- footer--------------------------------- */

        
.footer-end{
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    margin: 0, auto;
    background-color: black;
    
}     
h2{
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    color: white;
    text-align: center;
    /* margin:0px 0px; */
} 
p{
    font-size: 14px;  
    font-weight: bold;
    line-height: 24px;
    color: white;
    text-align: center;
    margin:0px 0px;
}
.fa-instagram-square .fa-dribbble-square .fa-twitter-square .fa-youtube-square{
    font-size: 23px;
    /* color: white; */
    margin-right: 16px;
}
.awesome-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
   
}
.footer{
        background-color: black
    
} 

/*------------------------------------- responsive section------------------------------------------ */
